{% extends "dashboard/base.html" %}

{% block sidebar %}{% endblock %}
{% block content %}
  <h1>Details - [ {{ server.hostname }} ]</h1>
    <ul>
      <li><b>IP:</b> {{ server.ip }} </li>
      <li><b>Monitoring:</b> {{ server.is_active|yesno:"Activé,Désactivé"}}</li>
    </ul>

{% endblock %}